.choice-container {
    display: flex;
    width: 100%;
    margin: 0 auto 1.5rem auto;
    font-size: 1.8rem;
    border: 0.1rem solid #AED99E;
    background-color: #F7F1D1;
    border-radius: 40px;
    transition: all 0.4s ease-in-out;
}

h2 {
    text-align: center;
}

.choice-container:hover,
.choice-container:focus,
.choice-container:active {
    cursor: pointer;
    background-color: #AED99E;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #AED99E;
    color: #354E5D;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* HUD */

#hud {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #45B29F;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #45B29F;
    width: 0;
}

#progressText {
    color: #354E5D;
}
